---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lista E 2023">
	<main>
		<h1> Crosswords lista E 2023</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
