---
import MyCrossword from "../components/Crossword_React";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lista E 2023">
  <main>
    <h1>Crosswords</h1>
    <div id="grid" class="grid">
      <MyCrossword client:load></MyCrossword>
    </div>
  </main>
</Layout>

<style>
    h1{
      text-align: center;
  }

  .clue .correct{
      background-color: #CFB6E2 ;
  }

  .incorrect{
      background-color: #F5B7B1;
      color: #CFB6E2;
  }

  .crossword{
      width: 50%;
      height: 50%;
  }

  .direction{
      font-size: 1rem;
      margin-bottom: 1rem;
  }
</style>