---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lista E 2023">
	<main id="index_main">
	
	</main>
</Layout>

<style>
	img{
		max-height: 100%;
    	width: auto;

	}
	p{
		min-height: 100%;
	}
	#index_main {

		text-align: center;
		background-image: url("/main_page_visual.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-color: var(--roxo-claro);
		
		height: 100vh;
	}
	
</style>
