---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lista E 2023">
    <h1>PROGRAMA</h1>

</Layout>
  
<script>
   
</script>
<style>
    h1 {
        text-align: center;
    }
   
</style>