---
const BASE_URL = "/listaE2023.github.io"
---
  <nav class="dashboard">
    <p>  <a href= {BASE_URL + "/"}>Pagina inicial</a> </p>
    <p>  <a href={BASE_URL + "/programa"}>programa</a> </p>
    <p>  <a href= {BASE_URL + "/calendario-eleitoral"}>Calendario Eleitoral</a> </p>
    <p>  <a href= {BASE_URL + "/manifesto"}>manifesto</a> </p>
    <p>  <a href= {BASE_URL + "/sugestoes"}>Sugestoes</a> </p>
    <p>  <a href= {BASE_URL + "/crosswords"}>Crossword</a> </p>
  </nav>

  <style>
    a{
      color: white;
    }

    .dashboard-content {
      display: none;
    }

    .dashboard-content.open {
      display: block;
    }

    .dashboard-button {
      cursor: pointer;
    }
  </style>
