---
import DashboardItem from "./DashboardItem.astro";

---
  <nav class="dashboard">
    
    <div id="slogan">
      <a href="/">
        <img class="logo" src="/lista_logo.svg" alt="Logo da Lista"/>
      </a>
      <h2> Envolver os estudantes, evoluir juntos! </h2>
    </div>

    <div id="item-wrapper">
      <DashboardItem route="/calendario-eleitoral" logo="/calendario_campanha.svg" name="Calendário"/>
      <DashboardItem route="/programa" logo="/programa.svg" name="Programa"/>
      <DashboardItem route="/manifesto" logo="/manifesto.svg" name="Manifesto"/>
      <DashboardItem route="/sugestoes" logo="/sugestoes.svg" name="Sugestões"/>
      <DashboardItem route="/crosswords" logo="/crosswords.svg" name="Crosswords"/>
      <DashboardItem route="/quem-somos" logo="/quem-somos.svg" name="Quem somos"/>
    </div>

    <div id="social-media">
      <DashboardItem route="https://www.instagram.com/listae.aefeup.23/" logo="/instagram.svg" name=""/>
      
    </div>

  </nav>

  <style>

    .dashboard {
		  display: flex;
		  flex-direction: column;
      justify-content: center;
		  top: 0;
		  left: 0;
		  float: left;
		  position: fixed;
		  width: 25%;
		  height: 100vh;
		  background: var(--roxo-escuro);
      
		  z-index: 9999;
		  overflow: auto;
		  transition: all 0.3s ease-in-out;
      
		  justify-content: space-between;
    }

    #item-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2em;
      margin-inline: 25px;
      padding-bottom: 5vh;
    }

    .logo {
      display: block;

      width: 40%;
      height: auto;

      margin: auto;
    }

    .item-logo {
      size: 1rem;
    }

    #slogan {
      padding-top: 5%;
    }

    #slogan h2 {
      color: white;
      text-align: center;
    }

    #social-media {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      gap: 25px;
      padding-bottom: 30px;
    }

    @media (max-width: 768px) {

    .logo {
      display: block;
      height: auto;
      width: 75%;
      margin-bottom: 2svh;
    }

    #slogan h2{
      display: none;
    }

    #item-wrapper {
      margin-inline: 18%;
      grid-template-columns: minmax(1svw, 1fr);
      grid-template-rows: 1fr;
      padding-bottom: svh;
    }

  }

  </style>
