---

---
  <nav class="dashboard">
    <p>  <a href= "/">Pagina inicial</a> </p>
    <p>  <a href="/programa">programa</a> </p>
    <p>  <a href= "/calendario-eleitoral">Calendario Eleitoral</a> </p>
    <p>  <a href= "/manifesto">manifesto</a> </p>
    <p>  <a href= "/sugestoes">Sugestoes</a> </p>
    <p>  <a href= "/crosswords">Crossword</a> </p>
    <p>  <a href=  "/quem-somos">Quem somos</a> </p>
  </nav>

  <style>
    a{
      color: white;
    }

    .dashboard-content {
      display: none;
    }

    .dashboard-content.open {
      display: block;
    }

    .dashboard-button {
      cursor: pointer;
    }
  </style>
