---
import Dashboard from '../components/Dashboard.astro';
import "@fontsource/poppins";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/lista_logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">

			<Dashboard class="dashboard"/>
			<div class="slot">
				<slot />
			</div>
			
		</div>
	</body>
</html>
<style is:global>

	a {
        text-decoration: none;
    }
	
	h1 {
		font-size: 3rem;
		font-weight: 600;
		margin: 0;
		color: var(--roxo-escuro);
	}
	.container{
		display: flex;
	}

	.slot {

		box-sizing: border-box;
		position: absolute;
		left: 25%;
		right: 0%;
		top:0;
		float: right;
		
		
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--roxo-escuro: #311547;
		--roxo-claro: #CFB6E2;
		--roxo-medio: #4C216E;
		--amarelo-claro: #FFF4A3;
 		--amarelo-escuro: #FFEE70;
	}

	/* width */
	::-webkit-scrollbar {
	width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	background: #888;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #555;
	}
	html {
		font-family: "Poppins";
		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
