---
import Dashboard from '../components/Dashboard.astro';
import "@fontsource/poppins";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/twitter_icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">

			<Dashboard class="dashboard"/>
			<div class="slot">
				<slot />
			</div>
			
		</div>
	</body>
</html>
<style is:global>
	a {
        text-decoration: none;
    }
	
	h1 {
		font-size: 3rem;
		font-weight: 600;
		margin: 0;
		color: var(--roxo-escuro);
	}
	.container{
		display: flex;
	
	}

	.dashboard {
		display: flex;
		flex-direction: column;
		top: 0;
		left: 0;
		float: left;
		position: fixed;
		width: 25%;
		height: 100vh;
		background: var(--roxo-escuro);
		
		z-index: 9999;
		overflow: auto;
		transition: all 0.3s ease-in-out;
		
		justify-content: space-between;
    }

	.slot {

		box-sizing: border-box;
		padding: 20px;
		position: absolute;
		left: 25%;
		right: 0%;
		float: right;
		
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--roxo-escuro: #311547;
		--roxo-claro: #CFB6E2;
		--roxo-medio: #4C216E;
		--amarelo-claro: #FFF4A3;
 		--amarelo-escuro: #FFEE70;
	}
	html {
		font-family: "Poppins";
		background-color: #f3f3f3;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
